[submodule "repository/botopink-lang"]
	path = repository/botopink-lang
	url = git@github.com:botopink/botopink-lang.git
[submodule "repository/emilia"]
	path = repository/emilia
	url = git@github.com:botopink/emilia.git
[submodule "repository/erika"]
	path = repository/erika
	url = git@github.com:botopink/erika.git
[submodule "repository/jhonstart"]
	path = repository/jhonstart
	url = git@github.com:botopink/jhonstart.git
[submodule "repository/onze"]
	path = repository/onze
	url = git@github.com:botopink/onze.git
[submodule "repository/rakun"]
	path = repository/rakun
	url = git@github.com:botopink/rakun.git
[submodule "repository/vscode-extension"]
	path = repository/vscode-extension
	url = git@github.com:botopink/vscode-extension.git
[submodule "repository/actions"]
	path = repository/actions
	url = git@github.com:botopink/actions.git
	branch = feat
[submodule "repository/http"]
	path = repository/http
	url = git@github.com:botopink/http.git
	branch = feat
[submodule "repository/log"]
	path = repository/log
	url = git@github.com:botopink/log.git
	branch = feat
[submodule "repository/routing"]
	path = repository/routing
	url = git@github.com:botopink/routing.git
	branch = feat
[submodule "repository/validation"]
	path = repository/validation
	url = git@github.com:botopink/validation.git
	branch = feat
[submodule "repository/css"]
	path = repository/css
	url = git@github.com:botopink/css.git
	branch = feat
[submodule "repository/styled"]
	path = repository/styled
	url = git@github.com:botopink/styled.git
	branch = feat
[submodule "repository/snap"]
	path = repository/snap
	url = git@github.com:botopink/snap.git
	branch = feat
[submodule "repository/json"]
	path = repository/json
	url = git@github.com:botopink/json.git
	branch = feat
[submodule "repository/yaml"]
	path = repository/yaml
	url = git@github.com:botopink/yaml.git
	branch = feat
[submodule "repository/markdown"]
	path = repository/markdown
	url = git@github.com:botopink/markdown.git
	branch = feat
[submodule "repository/dbcontext"]
	path = repository/dbcontext
	url = git@github.com:botopink/dbcontext.git
	branch = feat
