[submodule "repository/botopink-lang"]
	path = repository/botopink-lang
	url = git@github.com:botopink/botopink-lang.git
[submodule "repository/emilia"]
	path = repository/emilia
	url = git@github.com:botopink/emilia.git
[submodule "repository/erika"]
	path = repository/erika
	url = git@github.com:botopink/erika.git
[submodule "repository/jhonstart"]
	path = repository/jhonstart
	url = git@github.com:botopink/jhonstart.git
[submodule "repository/onze"]
	path = repository/onze
	url = git@github.com:botopink/onze.git
[submodule "repository/rakun"]
	path = repository/rakun
	url = git@github.com:botopink/rakun.git
[submodule "repository/vscode-extension"]
	path = repository/vscode-extension
	url = git@github.com:botopink/vscode-extension.git
[submodule "repository/actions"]
	path = repository/actions
	url = git@github.com:botopink/actions.git
	branch = feat
[submodule "repository/http"]
	path = repository/http
	url = git@github.com:botopink/http.git
	branch = feat
[submodule "repository/log"]
	path = repository/log
	url = git@github.com:botopink/log.git
	branch = feat
[submodule "repository/routing"]
	path = repository/routing
	url = git@github.com:botopink/routing.git
	branch = feat
[submodule "repository/validation"]
	path = repository/validation
	url = git@github.com:botopink/validation.git
	branch = feat
